<div>
  {{message}}
</div>

<input #file type="file" accept='image/*' (change)="loadFile(file.files)" />
<br>
<div style="
  white-space: nowrap;
">
  <canvas #canvas></canvas>
  <canvas #canvas2></canvas>
</div>
<br>
<!-- {{angle}} -->
<input type="number" [(ngModel)]="angle" placeholder="angle">
<button type="button" (click)="rotate()">
  rotate
</button>
<br>
{{sliderValue}}
<ngx-slider [value]="sliderValue" [options]="{floor: 0, ceil: 200}" (valueChange)="log($event)"></ngx-slider>
<br>
<div>
  Count {{endsCount}}
</div>
<div>
  Ave {{rAve}}
</div>
<div>
  Count / Ave {{(endsCount / rAve) | number: 0}}
</div>
<div>
  Max {{maxOcc}}
</div>
<div>
  Max Occurances {{maxOccVal}}
</div>
<div>
  Noise % (count / max) {{(maxOccVal / endsCount * 100) | number: 0}}
</div>
<button type="button" (click)="process()">
  process
</button>

<button type="button" (click)="findOrientation()">
  find orientation
</button>

<button type="button" (click)="takeSlice()">
  take slice
</button>

<div style="display: flex; height: 10px;">
  <span *ngFor="let s of slice; index as i" [style.backgroundColor]="s.color" style="height: 10px;" [style.width.%]="100/slice.length" title="{{i}}"></span>
</div>

<div style="display: flex; height: 10px;">
  <span *ngFor="let s of slice; index as i" [style.backgroundColor]="s.gray" style="height: 10px;" [style.width.%]="100/slice.length" title="{{i}}"></span>
</div>
<button type="button" (click)="save()">
  save
</button>
<button type="button" (click)="rIterator()">
  rotating iterator
</button>
